{% extends "base.html" %}

{% block script %}
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
{% endblock %}

{% block title%}
<div class="jumbotron" style="text-align:center;background:#9EE8DB;">
	<h1 class="display-3">License Plate Scan App</h1>
	<p class="lead" id="chntxt">This is a simple License Plate Scan app, API feature is also available:</p>
</div>
{% endblock %}

{% block body %}
<div>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="w3-container w3-card w3-round w3-margin" style="color:red;text-align:center;background:#9EE8DB;">
            {{ message }}
        </div>
      {% endfor %}
  	{% endif %}
	{% endwith %}
	<br>
</div>
<div class="input-group image-preview" style="width: 50%; float: left;">
	<form action = {{url_for("upload_file")}} method = "POST" enctype = "multipart/form-data">
		<div class="input-group form-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
		  </div>
		  <div class="custom-file">
		    <input type="file" class="custom-file-input" name="file" accept="image/*" onchange="loadFile(event)" aria-describedby="inputGroupFileAddon01">
		    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
		  </div>
		</div>
		<div style="margin-top:20px;">
			<img id="output"/>
		</div>
		<br>
		<div style="margin-bottom: 20px;">
			<input type="Submit" class="btn btn-primary" style="font-size: 15px; padding:15px;"/>
		</div>
	</form>
</div>
<div style="width = 50%; float: right;">
  {% if result %}
    <h1 style="text-align: center;"> Your license plate:</h1>
    <p style="font-size: 30px; text-align: center"> {{ result }} </p>
  {% else %}
    <h1> Please input your image </h1>
  {% endif %}
</div>
{% endblock %}
